<nav class="header">
  <mat-toolbar>
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon ></mat-icon>
    </button>
    <div class="header-brand">
      <img src="/logo.png" alt="SCCON Logo" class="header-logo">
      <span>SCCON Busca</span>
    </div>
    <div class="header-actions" role="group" aria-label="Actions">
      <button matButton="filled" routerLink="/home">Home</button>
      <button matButton="filled" routerLink="/enderecos">Endereços</button>
    </div>
  </mat-toolbar>
</nav>
